@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif; */

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 29px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid #000;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  /* letter-spacing: 3px; */
}

/* Footer */

.footer {
  color: #fff;
  padding: 12px;
  background: linear-gradient(to right, #434343, #000000);
  align-items: center;
}

.paragraph {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.Link {
  color: #fff;
  text-decoration: none;
}

.Link:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/***************************
		404 Page
***************************/
.error-page-wrap {
  padding: 100px 0;
}
.error-page-wrap .errormain {
  text-align: center;
}
.error-page-wrap .errormain h2 {
  font-size: 350px;
  color: #708388;
  font-weight: 900;
  line-height: 350px;
}
.error-page-wrap .errormain h3 {
  font-size: 40px;
  color: #708388;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 5px;
  display: inline-block;
  border: 5px solid #bdcfd4;
  padding: 20px 40px;
  margin-top: -20px;
}
.error-msg {
  margin-top: 50px;
}
.error-msg p {
  max-width: 500px;
  margin: auto;
  line-height: 24px;
  font-size: 16px;
  color: #666;
}
.error-msg .btn {
  background: #5dc302;
  color: #fff;
  margin-top: 30px;
  border-radius: 0;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 600;
}
