.Navbar {
  @media screen and (max-width: 1000px) {
    position: sticky;
    top: 0;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  translate: 0 -72px;
  width: 100%;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  transition: 0.8s;
  z-index: 1000;
}

.visible {
  top: 0;
  translate: 0;
}

.avtar {
  height: 2px;
}

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 29px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid #000;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  /* letter-spacing: 3px; */
}
